project-root-directory/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ videos/
+ build.xml

# NetBeans specific #
nbproject/private/
nbproject/project.properties
build/
nbbuild/
dist/
nbdist/
videos/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store
